<mat-toolbar color="primary">
  @if(screenWidthTabletOrLess()){
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  }

  <span>Richmond Apps</span>
  @if(!screenWidthTabletOrLess()){
  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <!-- #enddocregion mat-menu-trigger-for -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['about']">About</button>
    <button mat-menu-item [routerLink]="['contact']">Contact</button>
  </mat-menu>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>login</mat-icon>
  </button>
  }
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    @if(screenWidthTabletOrLess()){
    <app-sidenav />
    }
  </mat-sidenav>
  <mat-sidenav-content
    [style.margin-left]="sidenavWidth()"
    class="sideNavContent"
  >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
