mat-toolbar {
  position: relative;
  z-index: 5;
}
mat-sidenav-container {
  height: calc(100vh - 64px);
}
.sideNavContent {
  padding: 2rem;
}
mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}
.example-spacer {
  flex: 1 1 auto;
}
